body {
	box-sizing: border-box;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: fixed rgba(120, 222, 120, 0.6);
	background: fixed
		linear-gradient(
			155deg,
			rgba(120, 222, 120, 0.6) 0%,
			rgba(222, 120, 120, 0.6) 70%
		);
	background: fixed radial-gradient();
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
